.buttons, .clear {
    width: 5rem;
    height: 3rem;
}
.egal {
    width: 10rem;
    height: 3rem;
}
.buttons, .egal, .clear{
    background-color: darkgrey;
    color: black;
}
.answer{
    width: 20rem;
    height: 2rem;
}
div {
    display: flex;
    justify-content: center;
}
h1 {
    text-align: center;
    margin-bottom: 5rem;
}
